<% include head %>
<h1>Add a new post</h1>
<form method="POST" action="/posts">
	<input type="text" name="title" placeholder="Title">
	<textarea name="content" placeholder="Blog Content"></textarea>
	<button>Add</button>
</form>

<% include foot %>


